<script setup lang="ts">
import { RouterLink, RouterView } from "vue-router";
import HelloWorld from "./components/HelloWorld.vue";
import Calcomponent from "./components/Calcomponent.vue";
import HelloWorldExample from "./components/HelloWorldExample.vue";
import HandlingUserInput from "./components/HandlingUserInput.vue";
import AttributeBindings from "./components/AttributeBindings.vue";
import ConditionalsAndLoops from "./components/ConditionalsAndLoops.vue";
import FromBindings from "./components/FromBindings.vue";
import SimplestComponent from "./components/SimplestComponent.vue";
</script>

<template>
  <div>
    <SimplestComponent />
    <FromBindings />
    <br />
    <br />
    <ConditionalsAndLoops />
    <br />
    <br />
    <AttributeBindings />
    <HandlingUserInput />
    <Calcomponent />
    <HelloWorldExample />
  </div>
</template>

<style scoped></style>
